--
-- PostgreSQL database cluster dump
--

\restrict p4GXnfzEZKeNdk9g63v3dKdgiUzsSAEfIv4Vj312daWih7wAMLhIEaJkwDPxGKb

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE taskir;
ALTER ROLE taskir WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:VsHcvf/JKI8LJDa3dSImqw==$1238boqdGmJ2uSMrXWZarDZ7yGK+Abc6U+nqmciO6xs=:dKwoDDQMk+4VJyq4oNAsxyZVBTi3w3zUbSM1rSFNFys=';

--
-- User Configurations
--








\unrestrict p4GXnfzEZKeNdk9g63v3dKdgiUzsSAEfIv4Vj312daWih7wAMLhIEaJkwDPxGKb

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict b7e13B2Bz1zScLX7qFN9lzjfrjUJB8rea6NdpqELDZ5Uz8A5eLiNR3Ia6Yx4rSj

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict b7e13B2Bz1zScLX7qFN9lzjfrjUJB8rea6NdpqELDZ5Uz8A5eLiNR3Ia6Yx4rSj

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict GQisI4ttpa5Afy2drVCcrOiFGYq7bBcZ3KvNaQzg61fBSSGoQ6BIUDnPcOBX01l

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict GQisI4ttpa5Afy2drVCcrOiFGYq7bBcZ3KvNaQzg61fBSSGoQ6BIUDnPcOBX01l

--
-- Database "taskir_adx" dump
--

--
-- PostgreSQL database dump
--

\restrict 4z6sOlEXiIrvMhuLTPFcc05sDwvT6McMMrThw0pYnKqLWSnMbnwdlQvhdZQu01E

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: taskir_adx; Type: DATABASE; Schema: -; Owner: taskir
--

CREATE DATABASE taskir_adx WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE taskir_adx OWNER TO taskir;

\unrestrict 4z6sOlEXiIrvMhuLTPFcc05sDwvT6McMMrThw0pYnKqLWSnMbnwdlQvhdZQu01E
\connect taskir_adx
\restrict 4z6sOlEXiIrvMhuLTPFcc05sDwvT6McMMrThw0pYnKqLWSnMbnwdlQvhdZQu01E

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: ad_units_status_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.ad_units_status_enum AS ENUM (
    'active',
    'paused',
    'pending',
    'rejected'
);


ALTER TYPE public.ad_units_status_enum OWNER TO taskir;

--
-- Name: ad_units_type_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.ad_units_type_enum AS ENUM (
    'banner',
    'rich_media',
    'video_instream',
    'video_outstream',
    'ctv',
    'native',
    'content_recommendation',
    'interstitial',
    'rewarded',
    'playable',
    'audio_digital',
    'audio_programmatic',
    'dco',
    'vr_ar',
    'in_game',
    'push',
    'popunder'
);


ALTER TYPE public.ad_units_type_enum OWNER TO taskir;

--
-- Name: brand_safety_rules_ruletype_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.brand_safety_rules_ruletype_enum AS ENUM (
    'blocklist',
    'allowlist',
    'category_block',
    'keyword_block'
);


ALTER TYPE public.brand_safety_rules_ruletype_enum OWNER TO taskir;

--
-- Name: brand_safety_rules_target_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.brand_safety_rules_target_enum AS ENUM (
    'advertiser',
    'domain',
    'category',
    'keyword'
);


ALTER TYPE public.brand_safety_rules_target_enum OWNER TO taskir;

--
-- Name: campaigns_status_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.campaigns_status_enum AS ENUM (
    'draft',
    'active',
    'paused',
    'completed'
);


ALTER TYPE public.campaigns_status_enum OWNER TO taskir;

--
-- Name: campaigns_type_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.campaigns_type_enum AS ENUM (
    'cpm',
    'cpc',
    'cpa'
);


ALTER TYPE public.campaigns_type_enum OWNER TO taskir;

--
-- Name: demand_partners_status_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.demand_partners_status_enum AS ENUM (
    'active',
    'paused',
    'pending',
    'disconnected'
);


ALTER TYPE public.demand_partners_status_enum OWNER TO taskir;

--
-- Name: demand_partners_type_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.demand_partners_type_enum AS ENUM (
    'dsp',
    'ad_network',
    'header_bidding',
    'direct'
);


ALTER TYPE public.demand_partners_type_enum OWNER TO taskir;

--
-- Name: floor_prices_action_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.floor_prices_action_enum AS ENUM (
    'set_floor',
    'multiply',
    'add'
);


ALTER TYPE public.floor_prices_action_enum OWNER TO taskir;

--
-- Name: floor_prices_ruletype_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.floor_prices_ruletype_enum AS ENUM (
    'global',
    'geo',
    'device',
    'time',
    'format',
    'custom'
);


ALTER TYPE public.floor_prices_ruletype_enum OWNER TO taskir;

--
-- Name: placements_position_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.placements_position_enum AS ENUM (
    'above_fold',
    'below_fold',
    'sidebar',
    'in_content',
    'footer',
    'header',
    'sticky'
);


ALTER TYPE public.placements_position_enum OWNER TO taskir;

--
-- Name: placements_status_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.placements_status_enum AS ENUM (
    'active',
    'paused',
    'archived'
);


ALTER TYPE public.placements_status_enum OWNER TO taskir;

--
-- Name: publishers_status_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.publishers_status_enum AS ENUM (
    'pending',
    'active',
    'suspended',
    'rejected'
);


ALTER TYPE public.publishers_status_enum OWNER TO taskir;

--
-- Name: publishers_tier_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.publishers_tier_enum AS ENUM (
    'basic',
    'standard',
    'premium',
    'enterprise'
);


ALTER TYPE public.publishers_tier_enum OWNER TO taskir;

--
-- Name: transactions_status_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.transactions_status_enum AS ENUM (
    'pending',
    'completed',
    'failed'
);


ALTER TYPE public.transactions_status_enum OWNER TO taskir;

--
-- Name: transactions_type_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.transactions_type_enum AS ENUM (
    'deposit',
    'withdrawal',
    'campaign_charge',
    'refund',
    'publisher_payout'
);


ALTER TYPE public.transactions_type_enum OWNER TO taskir;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: taskir
--

CREATE TYPE public.users_role_enum AS ENUM (
    'admin',
    'advertiser',
    'publisher'
);


ALTER TYPE public.users_role_enum OWNER TO taskir;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ad_units; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.ad_units (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    type public.ad_units_type_enum NOT NULL,
    size character varying NOT NULL,
    status public.ad_units_status_enum DEFAULT 'pending'::public.ad_units_status_enum NOT NULL,
    domain character varying,
    pageurl character varying,
    floorprice numeric(10,4),
    currency character varying DEFAULT 'USD'::character varying NOT NULL,
    allowedcategories text,
    blockedcategories text,
    blockedadvertisers text,
    targeting json,
    settings json,
    impressions bigint DEFAULT '0'::bigint NOT NULL,
    requests bigint DEFAULT '0'::bigint NOT NULL,
    revenue numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    publisherid uuid NOT NULL,
    createdat timestamp without time zone DEFAULT now() NOT NULL,
    updatedat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ad_units OWNER TO taskir;

--
-- Name: brand_safety_rules; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.brand_safety_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    description character varying,
    ruletype public.brand_safety_rules_ruletype_enum NOT NULL,
    target public.brand_safety_rules_target_enum NOT NULL,
    "values" text NOT NULL,
    publisherid character varying NOT NULL,
    adunitid character varying,
    isactive boolean DEFAULT true NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    matchcount bigint DEFAULT '0'::bigint NOT NULL,
    createdat timestamp without time zone DEFAULT now() NOT NULL,
    updatedat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.brand_safety_rules OWNER TO taskir;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.campaigns (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    description text,
    "userId" uuid NOT NULL,
    "tenantId" uuid NOT NULL,
    status public.campaigns_status_enum DEFAULT 'draft'::public.campaigns_status_enum NOT NULL,
    type public.campaigns_type_enum NOT NULL,
    budget numeric(10,2) NOT NULL,
    spent numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    "bidPrice" numeric(10,4) NOT NULL,
    vertical character varying,
    targeting jsonb,
    "startDate" timestamp without time zone,
    "endDate" timestamp without time zone,
    impressions bigint DEFAULT '0'::bigint NOT NULL,
    clicks bigint DEFAULT '0'::bigint NOT NULL,
    conversions bigint DEFAULT '0'::bigint NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    creative jsonb
);


ALTER TABLE public.campaigns OWNER TO taskir;

--
-- Name: demand_partners; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.demand_partners (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    code character varying NOT NULL,
    type public.demand_partners_type_enum NOT NULL,
    status public.demand_partners_status_enum DEFAULT 'pending'::public.demand_partners_status_enum NOT NULL,
    publisherid character varying,
    endpoint character varying,
    credentials json,
    settings json,
    revenueshare numeric(5,2) DEFAULT '0'::numeric NOT NULL,
    bidtimeout integer DEFAULT 100 NOT NULL,
    isglobal boolean DEFAULT true NOT NULL,
    totalimpressions bigint DEFAULT '0'::bigint NOT NULL,
    totalrevenue numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    winrate numeric(5,2) DEFAULT '0'::numeric NOT NULL,
    avgbidprice numeric(10,4) DEFAULT '0'::numeric NOT NULL,
    createdat timestamp without time zone DEFAULT now() NOT NULL,
    updatedat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.demand_partners OWNER TO taskir;

--
-- Name: dsp_audience_segments; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.dsp_audience_segments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    description character varying,
    type character varying DEFAULT 'first_party'::character varying NOT NULL,
    status character varying DEFAULT 'building'::character varying NOT NULL,
    advertiser_id character varying,
    size bigint DEFAULT '0'::bigint NOT NULL,
    match_rate numeric(5,2) DEFAULT '0'::numeric NOT NULL,
    cpm_modifier numeric(5,2) DEFAULT '1'::numeric NOT NULL,
    rules jsonb,
    demographics jsonb,
    lookback_days integer DEFAULT 30 NOT NULL,
    refresh_frequency character varying DEFAULT 'daily'::character varying NOT NULL,
    last_refresh timestamp without time zone,
    campaigns_using integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dsp_audience_segments OWNER TO taskir;

--
-- Name: dsp_bid_strategies; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.dsp_bid_strategies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    type character varying DEFAULT 'manual'::character varying NOT NULL,
    status character varying DEFAULT 'active'::character varying NOT NULL,
    advertiser_id character varying,
    campaign_id character varying,
    base_bid numeric(10,4) DEFAULT '1'::numeric NOT NULL,
    max_bid numeric(10,4) DEFAULT '10'::numeric NOT NULL,
    min_bid numeric(10,4) DEFAULT 0.1 NOT NULL,
    target_cpa numeric(10,2),
    target_roas numeric(5,2),
    bid_adjustments jsonb,
    frequency_cap jsonb,
    pacing jsonb,
    performance_metrics jsonb,
    learning_status character varying,
    campaigns_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dsp_bid_strategies OWNER TO taskir;

--
-- Name: dsp_deals; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.dsp_deals (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    deal_id character varying NOT NULL,
    name character varying NOT NULL,
    description character varying,
    type character varying DEFAULT 'preferred'::character varying NOT NULL,
    status character varying DEFAULT 'pending'::character varying NOT NULL,
    advertiser_id character varying,
    publisher_id character varying,
    publisher_name character varying,
    floor_price numeric(10,4) DEFAULT '0'::numeric NOT NULL,
    fixed_price numeric(10,4),
    budget numeric(14,2),
    spent numeric(14,2) DEFAULT '0'::numeric NOT NULL,
    impressions_goal bigint,
    impressions_delivered bigint DEFAULT '0'::bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    inventory jsonb,
    priority integer DEFAULT 5 NOT NULL,
    win_rate numeric(5,2) DEFAULT '0'::numeric NOT NULL,
    avg_cpm numeric(10,4) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dsp_deals OWNER TO taskir;

--
-- Name: dsp_supply_partners; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.dsp_supply_partners (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    code character varying NOT NULL,
    type character varying DEFAULT 'ssp'::character varying NOT NULL,
    endpoint_url character varying NOT NULL,
    status character varying DEFAULT 'pending'::character varying NOT NULL,
    qps_limit integer DEFAULT 1000 NOT NULL,
    timeout_ms integer DEFAULT 100 NOT NULL,
    min_bid numeric(10,4) DEFAULT 0.01 NOT NULL,
    max_bid numeric(10,4) DEFAULT '50'::numeric NOT NULL,
    daily_budget numeric(12,2),
    daily_spend numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    total_requests bigint DEFAULT '0'::bigint NOT NULL,
    total_bids bigint DEFAULT '0'::bigint NOT NULL,
    total_wins bigint DEFAULT '0'::bigint NOT NULL,
    total_spend numeric(14,2) DEFAULT '0'::numeric NOT NULL,
    supported_formats text,
    geo_targets text,
    config jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dsp_supply_partners OWNER TO taskir;

--
-- Name: floor_prices; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.floor_prices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    description character varying,
    ruletype public.floor_prices_ruletype_enum DEFAULT 'global'::public.floor_prices_ruletype_enum NOT NULL,
    price numeric(10,4) NOT NULL,
    currency character varying DEFAULT 'USD'::character varying NOT NULL,
    action public.floor_prices_action_enum DEFAULT 'set_floor'::public.floor_prices_action_enum NOT NULL,
    conditions json,
    publisherid character varying,
    adunitid character varying,
    placementid character varying,
    priority integer DEFAULT 0 NOT NULL,
    isactive boolean DEFAULT true NOT NULL,
    startdate timestamp without time zone,
    enddate timestamp without time zone,
    createdat timestamp without time zone DEFAULT now() NOT NULL,
    updatedat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.floor_prices OWNER TO taskir;

--
-- Name: integration_configs; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.integration_configs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "tenantId" character varying NOT NULL,
    "integrationKey" character varying NOT NULL,
    status character varying NOT NULL,
    "configData" jsonb,
    "missingFields" jsonb,
    "providedFields" jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.integration_configs OWNER TO taskir;

--
-- Name: placements; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.placements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    description character varying,
    status public.placements_status_enum DEFAULT 'active'::public.placements_status_enum NOT NULL,
    "position" public.placements_position_enum,
    domain character varying,
    pagetype character varying,
    adformats text,
    allowedsizes text,
    devices text,
    floorprice numeric(10,4),
    currency character varying DEFAULT 'USD'::character varying NOT NULL,
    viewabilitytarget numeric(5,2),
    targeting json,
    settings json,
    impressions bigint DEFAULT '0'::bigint NOT NULL,
    revenue numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    fillrate numeric(5,2) DEFAULT '0'::numeric NOT NULL,
    publisherid uuid NOT NULL,
    createdat timestamp without time zone DEFAULT now() NOT NULL,
    updatedat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.placements OWNER TO taskir;

--
-- Name: publishers; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.publishers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    companyname character varying,
    website character varying,
    domains text,
    status public.publishers_status_enum DEFAULT 'pending'::public.publishers_status_enum NOT NULL,
    tier public.publishers_tier_enum DEFAULT 'basic'::public.publishers_tier_enum NOT NULL,
    revenueshare numeric(5,2) DEFAULT '80'::numeric NOT NULL,
    balance numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    payoutthreshold numeric(10,2) DEFAULT '100'::numeric NOT NULL,
    paymentmethod character varying,
    paymentdetails json,
    apikey character varying,
    settings json,
    brandsafetysettings json,
    createdat timestamp without time zone DEFAULT now() NOT NULL,
    updatedat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.publishers OWNER TO taskir;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "walletId" uuid NOT NULL,
    "userId" uuid NOT NULL,
    "tenantId" uuid NOT NULL,
    type public.transactions_type_enum NOT NULL,
    status public.transactions_status_enum DEFAULT 'pending'::public.transactions_status_enum NOT NULL,
    amount numeric(15,2) NOT NULL,
    "balanceBefore" numeric(15,2) NOT NULL,
    "balanceAfter" numeric(15,2) NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    "relatedId" uuid,
    description text,
    metadata jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transactions OWNER TO taskir;

--
-- Name: users; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    "passwordHash" character varying NOT NULL,
    role public.users_role_enum DEFAULT 'advertiser'::public.users_role_enum NOT NULL,
    "companyName" character varying,
    "tenantId" uuid NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO taskir;

--
-- Name: wallets; Type: TABLE; Schema: public; Owner: taskir
--

CREATE TABLE public.wallets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid NOT NULL,
    "tenantId" uuid NOT NULL,
    balance numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    "totalDeposited" numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    "totalSpent" numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wallets OWNER TO taskir;

--
-- Data for Name: ad_units; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Data for Name: brand_safety_rules; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.brand_safety_rules (id, name, description, ruletype, target, "values", publisherid, adunitid, isactive, priority, matchcount, createdat, updatedat) FROM stdin;
\.


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Data for Name: demand_partners; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.demand_partners (id, name, code, type, status, publisherid, endpoint, credentials, settings, revenueshare, bidtimeout, isglobal, totalimpressions, totalrevenue, winrate, avgbidprice, createdat, updatedat) FROM stdin;
\.


--
-- Data for Name: dsp_audience_segments; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.dsp_audience_segments (id, name, description, type, status, advertiser_id, size, match_rate, cpm_modifier, rules, demographics, lookback_days, refresh_frequency, last_refresh, campaigns_using, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: dsp_bid_strategies; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.dsp_bid_strategies (id, name, type, status, advertiser_id, campaign_id, base_bid, max_bid, min_bid, target_cpa, target_roas, bid_adjustments, frequency_cap, pacing, performance_metrics, learning_status, campaigns_count, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: dsp_deals; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.dsp_deals (id, deal_id, name, description, type, status, advertiser_id, publisher_id, publisher_name, floor_price, fixed_price, budget, spent, impressions_goal, impressions_delivered, start_date, end_date, inventory, priority, win_rate, avg_cpm, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: dsp_supply_partners; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Data for Name: floor_prices; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.floor_prices (id, name, description, ruletype, price, currency, action, conditions, publisherid, adunitid, placementid, priority, isactive, startdate, enddate, createdat, updatedat) FROM stdin;
\.


--
-- Data for Name: integration_configs; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Data for Name: placements; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.placements (id, name, description, status, "position", domain, pagetype, adformats, allowedsizes, devices, floorprice, currency, viewabilitytarget, targeting, settings, impressions, revenue, fillrate, publisherid, createdat, updatedat) FROM stdin;
\.


--
-- Data for Name: publishers; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: taskir
--

COPY public.transactions (id, "walletId", "userId", "tenantId", type, status, amount, "balanceBefore", "balanceAfter", currency, "relatedId", description, metadata, "createdAt") FROM stdin;
b31826a5-e4b7-494e-a20f-f8ace8466eb8	fdfcfe17-a54e-4c54-a804-ce4e00e09f6c	f5c4dacf-5dfe-4614-b5b6-788fbc9615d1	ea007f75-e118-4ce4-a0be-a13d0e83ecee	deposit	completed	100.00	0.00	100.00	USD	\N	\N	\N	2026-02-09 03:18:08.120709
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Data for Name: wallets; Type: TABLE DATA; Schema: public; Owner: taskir
--



--
-- Name: dsp_deals PK_0a09fc8dea6de8769c34d64e696; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.dsp_deals
    ADD CONSTRAINT "PK_0a09fc8dea6de8769c34d64e696" PRIMARY KEY (id);


--
-- Name: floor_prices PK_0f82529862ef60d3b3a498d8515; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.floor_prices
    ADD CONSTRAINT "PK_0f82529862ef60d3b3a498d8515" PRIMARY KEY (id);


--
-- Name: ad_units PK_54a917b4b8c96ba787ea21debda; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.ad_units
    ADD CONSTRAINT "PK_54a917b4b8c96ba787ea21debda" PRIMARY KEY (id);


--
-- Name: integration_configs PK_5ca9b0024e0f8a3f00222bbe09d; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT "PK_5ca9b0024e0f8a3f00222bbe09d" PRIMARY KEY (id);


--
-- Name: dsp_audience_segments PK_79a2584ff74ea2c3d999d2dc2b5; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.dsp_audience_segments
    ADD CONSTRAINT "PK_79a2584ff74ea2c3d999d2dc2b5" PRIMARY KEY (id);


--
-- Name: campaigns PK_831e3fcd4fc45b4e4c3f57a9ee4; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT "PK_831e3fcd4fc45b4e4c3f57a9ee4" PRIMARY KEY (id);


--
-- Name: wallets PK_8402e5df5a30a229380e83e4f7e; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT "PK_8402e5df5a30a229380e83e4f7e" PRIMARY KEY (id);


--
-- Name: dsp_bid_strategies PK_866c91039f89f67123d6abde2b9; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.dsp_bid_strategies
    ADD CONSTRAINT "PK_866c91039f89f67123d6abde2b9" PRIMARY KEY (id);


--
-- Name: dsp_supply_partners PK_8ba445188961d087ffd18ec41fd; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.dsp_supply_partners
    ADD CONSTRAINT "PK_8ba445188961d087ffd18ec41fd" PRIMARY KEY (id);


--
-- Name: demand_partners PK_912159127f137299112e00ccb05; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.demand_partners
    ADD CONSTRAINT "PK_912159127f137299112e00ccb05" PRIMARY KEY (id);


--
-- Name: placements PK_91cca43a1baa03ee278d7be74da; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT "PK_91cca43a1baa03ee278d7be74da" PRIMARY KEY (id);


--
-- Name: publishers PK_9d73f23749dca512efc3ccbea6a; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.publishers
    ADD CONSTRAINT "PK_9d73f23749dca512efc3ccbea6a" PRIMARY KEY (id);


--
-- Name: transactions PK_a219afd8dd77ed80f5a862f1db9; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "PK_a219afd8dd77ed80f5a862f1db9" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: brand_safety_rules PK_bee864e170dbeadb27674b7a047; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.brand_safety_rules
    ADD CONSTRAINT "PK_bee864e170dbeadb27674b7a047" PRIMARY KEY (id);


--
-- Name: dsp_supply_partners UQ_0364c392f31e7f2d094a81c5340; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.dsp_supply_partners
    ADD CONSTRAINT "UQ_0364c392f31e7f2d094a81c5340" UNIQUE (code);


--
-- Name: publishers UQ_42e5cd9198fac0407af26155b41; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.publishers
    ADD CONSTRAINT "UQ_42e5cd9198fac0407af26155b41" UNIQUE (email);


--
-- Name: dsp_deals UQ_906a98078659fc7a3e00e61d0a5; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.dsp_deals
    ADD CONSTRAINT "UQ_906a98078659fc7a3e00e61d0a5" UNIQUE (deal_id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: demand_partners UQ_f13b00054b94c4d97d83ef03401; Type: CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.demand_partners
    ADD CONSTRAINT "UQ_f13b00054b94c4d97d83ef03401" UNIQUE (code);


--
-- Name: IDX_2d5fa024a84dceb158b2b95f34; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_2d5fa024a84dceb158b2b95f34" ON public.transactions USING btree (type);


--
-- Name: IDX_2ecdb33f23e9a6fc392025c0b9; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_2ecdb33f23e9a6fc392025c0b9" ON public.wallets USING btree ("userId");


--
-- Name: IDX_6bb58f2b6e30cb51a6504599f4; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_6bb58f2b6e30cb51a6504599f4" ON public.transactions USING btree ("userId");


--
-- Name: IDX_948098d3c352bcd1d25c429a33; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_948098d3c352bcd1d25c429a33" ON public.transactions USING btree ("tenantId");


--
-- Name: IDX_95dd258490696a80308ba5a626; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_95dd258490696a80308ba5a626" ON public.wallets USING btree ("tenantId");


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: taskir
--

CREATE UNIQUE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_a88f466d39796d3081cf96e1b6; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_a88f466d39796d3081cf96e1b6" ON public.transactions USING btree ("walletId");


--
-- Name: IDX_c58f7e88c286e5e3478960a998; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_c58f7e88c286e5e3478960a998" ON public.users USING btree ("tenantId");


--
-- Name: IDX_da87c55b3bbbe96c6ed88ea7ee; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_da87c55b3bbbe96c6ed88ea7ee" ON public.transactions USING btree (status);


--
-- Name: IDX_db7360dad88aaaa7f0c056dd84; Type: INDEX; Schema: public; Owner: taskir
--

CREATE UNIQUE INDEX "IDX_db7360dad88aaaa7f0c056dd84" ON public.integration_configs USING btree ("tenantId", "integrationKey");


--
-- Name: IDX_e744417ceb0b530285c08f3865; Type: INDEX; Schema: public; Owner: taskir
--

CREATE INDEX "IDX_e744417ceb0b530285c08f3865" ON public.transactions USING btree ("createdAt");


--
-- Name: placements FK_937f4ca736c20c84af3ffffde14; Type: FK CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT "FK_937f4ca736c20c84af3ffffde14" FOREIGN KEY (publisherid) REFERENCES public.publishers(id);


--
-- Name: ad_units FK_ce0d74e583c7e53eb03bac278c7; Type: FK CONSTRAINT; Schema: public; Owner: taskir
--

ALTER TABLE ONLY public.ad_units
    ADD CONSTRAINT "FK_ce0d74e583c7e53eb03bac278c7" FOREIGN KEY (publisherid) REFERENCES public.publishers(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4z6sOlEXiIrvMhuLTPFcc05sDwvT6McMMrThw0pYnKqLWSnMbnwdlQvhdZQu01E

--
-- PostgreSQL database cluster dump complete
--

